



<div class="grid">

  <div class="row grid-row-header">
    <div class="col-xs-2">PROJECT</div>
    <div class="col-xs-2">ZAINA ASSOCIATE</div>
    <div class="col-xs-2">ADVISOR</div>
    <div class="col-xs-2">LAST EVENT</div>
    <div class="col-xs-2">NEXT ACTION</div>
  </div>


  <% @projects.each do |project| %>

    <div class="row grid-row">
      <div class="col-xs-2">
      <h2><%= project.project_name %></h2>
      <p><%=  project.user.full_name%></p>
    </div>
      <div class="col-xs-2">
        <div class="card-team-member">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <h2><%= project.zainas.first%></h2>
        </div>
      </div>
      <div class="col-xs-2">
         <div class="card-team-member">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <h2><%= project.advisors.empty? ? "non-assigné" : project.advisors.first.full_name %></h2>
        </div>

      </div>
      <% if project.advisors.empty? %>
        <div class="col-xs-2">
          <h2>Nouveau projet</h2>
          <p><%=  "#{project.created_at.strftime("%d/%m/%Y")}" %></p>
        </div>
        <div class="col-xs-2">
          <%= link_to 'Assign an advisor for this project', new_project_projectmember_path(project, role: 'Advisor'), class:"navbar-wagon-link link btn btn-primary", id:"small-btn", style:"color: white; font-size: 10px; font-weight: bold; align-content: center"%>
        </div>
      <% elsif !project.callconfirmation %>
        <div class="col-xs-2">
          <h2>Advisor assigné, en attente de confirmation par l'entrepreneur </h2>
          <p><%=  "" %></p>
        </div>
      <% elsif project.call_date.nil? %>
        <div class="col-xs-2">
          <h2>Assignor confirmé </h2>
          <p><%=  "" %></p>
        </div>
        <div class="col-xs-2">
          <%= link_to 'Organiser le call', edit_project_path(project), class:"navbar-wagon-link link btn btn-primary", id:"small-btn", style:"color: white; font-size: 10px; font-weight: bold; align-content: center"%>
        </div>
      <% elsif !project.call_done %>
          <div class="col-xs-2">
            <h2>Call organisé</h2>
            <p><%= "#{project.call_date.strftime("%d/%m/%Y")}" %></p>
          </div>
          <div class="col-xs-2">
            <%= link_to 'Call terminé',  complete_call_project_path(project),  method: :patch, class:"navbar-wagon-link link btn btn-primary", id:"small-btn", style:"color: white; font-size: 10px; font-weight: bold; align-content: center"%>
          </div>
        <% elsif !project.process_zainavalidation %>
          <div class="col-xs-2">
            <h2>Le call eu lieu, en attente de la validation par le comité</h2>
            <p><%=  "" %></p>
          </div>
          <div class="col-xs-2">
            <%= link_to 'Validation par le comité',  zainavalidation_project_path(project),  method: :patch, class:"navbar-wagon-link link btn btn-primary", id:"small-btn", style:"color: white; font-size: 10px; font-weight: bold; align-content: center"%>
          </div>
        <% elsif !project.processconfirmation %>
          <div class="col-xs-2">
            <h2>Le projet est validé par zaina, en attente du lancement par l'entrepreneur</h2>
            <p><%=  "" %></p>
          </div>
        <% else %>
          <div class="col-xs-2">
            <h2>Le projet est validé, la deal room est ouverte</h2>
            <p><%=  "" %></p>
          </div>
        <% end %>
    </div>
  <% end %>


  <!--<a class="card-link" href="#" ></a>-->
</div>
