<table id="investors-table" class="table table-striped table-bordered" style="width:100%">

<div style="margin-bottom: 15px">
  <a style="font-weight: bold; font-size: 20px" class="navbar-wagon-link link" data-toggle="modal" data-target="#newinvestorModal"> Add an investor</a>
</div>

  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Nature</th>
      <th>Contacts</th>
      <th>Contacted</th>
      <th>Next step</th>
      <th>Comment</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @project.investors.each do |investor|  %>

      <td> <%= investor.name %></td>
      <td> <%=investor.geography  %></td>
      <td> <%=investor.nature  %></td>
      <td> <%=investor.contacts  %></td>
      <td> <%=investor.contacted  %></td>
      <td> <%=investor.nextstep  %></td>
      <td> <%=investor.comment  %></td>
      <td> <%= link_to 'update', edit_project_investor_path(@project, investor), class:"navbar-wagon-link link"%>
    </td>
      </tr>

    <% end  %>


  </tbody>

</table>




<!-- Modals-->

<div id="newinvestorModal" class="modal fade " tabindex="-1">
  <%=  render "investors/new"  %>
</div>
