


<div class="container text-center input ">
<h3 class="sign_up "> Please complete your user profile </h3>

<%= simple_form_for(@profile) do |f| %>
<%= f.error_notification %>
  <%= f.input :first_name%>
  <%= f.input :last_name%>
  <%= f.input :email%>
  <%= f.input :background%>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.input :resume %>
  <%= f.input :resume_cache, as: :hidden %>

  <div class="actions">
  <%= f.submit "Submit" %>
</div>

<% end %>



</div>


