
<div class="container text-center input">
<!-- Single button -->
  <div class="btn-group">

    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Chose the project you want to work on <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
      <% if current_user.is_admin?  %>
        <% @projects.each do |project|%>
          <li> <%= link_to project.project_name, project_path(project), class: "dropdown-item" %></li>
        <% end %>
      <% elsif current_user.is_advisor? %>
          <% if current_user.has_projectmember? %>
            <li>
              <%= link_to Project.find_by(id:current_user.projectmembers.first.project_id).project_name, project_path(Project.find_by(id:current_user.projectmembers.first.project_id)), class: "dropdown-item" %></li>
          <%else%>
              <%= link_to "no project assigned yet", class: "dropdown-item" %></li>
          <%end  %>
       <%end  %>
    </ul>
  </div>
</div>


<div class="tabs">
  <a class="tab active" href="#tab_index_1" aria-controls="tab_index_1" role="tab" data-toggle="tab">
    <h3>My projects</h3>
    <p>Latest news</p>
  </a>
  <a class="tab" href="#tab_index_2" aria-controls="tab_index_2" role="tab" data-toggle="tab">
    <h3>Clients</h3>
    <p>Latest messages</p>
  </a>
  <a class="tab" href="#tab_index_3" aria-controls="tab_index_3" role="tab" data-toggle="tab">
    <h3>Investors</h3>
    <p>Latest interactions</p>
  </a>
  <a class="tab" href="#tab_index_4" aria-controls="tab_index_4" role="tab" data-toggle="tab">
    <h3>Investors</h3>
    <p>Latest interactions</p>
  </a>
</div>





 <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab_index_1">
      <%= render 'projects/tabs/tab_index_1' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab_index_2">
      <%= render 'projects/tabs/tab_index_2' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab_index_3">
       <%= render 'projects/tabs/tab_index_3' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab_index_4">
      <%= render 'projects/tabs/tab_index_4' %>
    </div>
  </div>

</div>
