<div class="container text-center sign_up_box" style="width: 600; margin-top: 50px, border-width: 3px">

 <h2 class="sign_up">Tell us a few words about your project</h2>

<%= simple_form_for @project do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs sign_up_form">
      <%= f.input :project_name, required: true,label: "Project code name"  %>
      <%= f.input :description, required: true, label: "Project description" %>
      <%= f.input :sector, required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Submit project" %>
    </div>
  </div>
<% end %>
</div>
