

<div style="text-align: center">
  <h2 class="title">Project <%= @project.project_name%></h2>
   <a href="<%= projects_path %> " class="btn btn-primary" style="color: white">Back to projects home space, for zaina only!</a>
</div>



<div class="tabs">
  <a class="tab active" href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">
    <h3>Icon to add</h3>
    <% if current_user.role == "Zaina"%>
      <p> Entrepreneur messages </p>
    <% elsif %>
      <% current_user.role == "Advisor" %>
      <p>Entrepreneur messages</p>
    <% elsif %>
      <% current_user.role == "Entrepreneur" %>
      <p>Zaina messages</p>
    <% end%>
  </a>

  <a class="tab" href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">
    <h3>Icon to add</h3>
      <% if current_user.role == "Zaina"%>
        <p> Advisor messages </p>
      <% elsif %>
        <% current_user.role == "Advisor" %>
        <p>Zaina messages</p>
      <% else %>
        <% current_user.role == "Entrepreneur" %>
        <p>Your advisor messages</p>
    <% end%>
  </a>

  <a class="tab" href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">
    <h3>Icon to add</h3>
      <% if current_user.role == "Zaina"%>
        <p> Investors follow-up </p>
      <% elsif %>
        <% current_user.role == "Advisor" %>
        <p>Investors follow-up</p>
      <% else %>
        <% current_user.role == "Entrepreneur" %>
        <p>Investors follow-up</p>
    <% end%>
  </a>

  </a>
  <a class="tab" href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">
    <h3>Icon to add</h3>
      <% if current_user.role == "Zaina"%>
        <p> Company's profile </p>
      <% elsif %>
        <% current_user.role == "Advisor" %>
        <p>Company's profile</p>
      <% else %>
        <% current_user.role == "Entrepreneur" %>
        <p>My profile</p>
    <% end%>
  </a>
</div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab1">
      <%= render 'projects/tabs/tab1' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab2">
      <%= render 'projects/tabs/tab2' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab3">
       <%= render 'projects/tabs/tab3' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab4">
      <%= render 'projects/tabs/tab4' %>
    </div>
  </div>


