
<div >
  <div class="list-inline project_intro">
  <li><h3 >Project "<%= @project.project_name%>"</h3></li>
  <li>
  <% if current_user.is_admin? %>
     <a href="<%= projects_path %> " class="btn btn-primary back_button">Chose another project</a>
     <%end %>
  </li>
  </div>
</div>

<div class="show_header ">
  <div class="box_header col-md-6" >
    <h1 >Overview</h1>
    <h2>Description:</h2>
      <p> <%= @project.description %></p>

    <h2>Advisor(s):</h2>
      <%if @project.has_advisormember? %>

         <%if current_user.is_admin? %>
          <%@project.advisors.each do |advisor|%>
          <p style="margin: 0px"> <%= advisor.email %></p>
          <%end%>
          <p><a class="link" data-toggle="modal" data-target="#myModal">Check advisor's profile</a><br>
          <%= link_to 'Assign another advisor',edit_project_projectmember_path(@project, role: 'Advisor'), class:"navbar-wagon-link link"%></p>
            <%elsif current_user.is_entrepreneur? %>
               <%@project.advisors.each do |advisor|%>
          <p style="margin: 0px"> <%= advisor.email %></p>
          <%end%> <br>
              <a style="font-weight: bold" class="link" data-toggle="modal" data-target="#myModal">Check advisor's profile and confirm call planning</a>

        <%end%>

      <%else%>

        <p><% if current_user.is_admin? %>
          <%= link_to 'Assign an advisor for this project', new_project_projectmember_path(@project, role: 'Advisor'), class:"navbar-wagon-link link"%>
        <% elsif current_user.is_entrepreneur? %>
          <%= "The most relevant advisor for your project will be suggested soon" %>
        <%end %>
        </p>

      <%end%>

      <h2>Zaina member(s):</h2>
      <%if @project.has_zainamember? %>
        <%@project.zainas.each do |zaina|%>
          <p  style="margin: 0px"><%= zaina.email %></p>
          <%end%>
        <% if current_user.is_admin? %>
        <p><%= link_to 'Assign another Zaina member', edit_project_projectmember_path(@project, role: 'Zaina'), class:"navbar-wagon-link link"%></p>
        <% end  %>
      <% else %>
        <% if current_user.is_admin? %>
        <%= link_to 'Assign a Zaina member', new_project_projectmember_path(@project,role:'Zaina'), class:"navbar-wagon-link link"%>
        <% elsif current_user.is_entrepreneur? %>
          <%= "A member from Zaina team will be assigned to your project" %>
        <%end  %>
      <%end  %>

  </div>

  <div class="box_header col-md-6">
    <h1 >Updates</h1>
  </div>

</div>


<div class="tabs">
  <a class="tab active" href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">
    <h3>Message center</h3>
    <% if current_user.is_admin?%>
      <p> Deal team </p>
    <% elsif %>
      <% current_user.role == "Advisor" %>
      <p> Deal team</p>
    <% elsif %>
      <% current_user.is_entrepreneur? %>
      <p> Deal team </p>
    <% end%>
  </a>

  <a class="tab" href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">
    <h3> Company </h3>
      <% if current_user.is_admin?%>
        <p> Detailed profile </p>
      <% elsif %>
        <% current_user.role == "Advisor" %>
        <p>Detailed profile</p>
      <% else %>
        <% current_user.is_entrepreneur? %>
        <p>Detailed profile</p>
    <% end%>
  </a>

  <a class="tab" href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">
    <h3>Investors follow-up</h3>
      <% if current_user.is_admin?%>
        <p> Live feed </p>
      <% elsif %>
        <% current_user.role == "Advisor" %>
        <p>Live feed</p>
      <% else %>
        <% current_user.is_entrepreneur? %>
        <p>Live feed</p>
    <% end%>
  </a>


  <a class="tab" href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">
    <h3>Database</h3>
      <% if current_user.is_admin?%>
        <p> Investors universe </p>
      <% elsif %>
        <% current_user.role == "Advisor" %>
        <p> Investors universe </p>
      <% else %>
        <% current_user.is_entrepreneur? %>
        <p>Investors universe</p>
    <% end%>
  </a>


   <a class="tab" href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">
      <h3>Documents</h3>
    </a>


  <% if current_user.role == "Zaina"%>
    <a class="tab" href="#tab6" aria-controls="tab6" role="tab" data-toggle="tab">
      <h3>Internal message center</h3>
        <% if current_user.is_admin?%>
          <p> with Advisor </p>
        <% else %>
          <% current_user.is_entrepreneur? %>
          <p> with Zaina </p>
        <% end%>
    </a>
  <% end %>


</div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab1">
      <%= render 'projects/tabs/tab1', messages: @project.projectmessages %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab2">
      <%= render 'projects/tabs/tab2' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab3">
       <%= render 'projects/tabs/tab3' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab4">
      <%= render 'projects/tabs/tab4' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab5">
      <%= render 'projects/tabs/tab5' %>
    </div>
      <div role="tabpanel" class="tab-pane" id="tab6">
      <%= render 'projects/tabs/tab6' %>
    </div>
  </div>


<!-- Modal Profil Advisor -->
<div id="myModal" class="modal fade " tabindex="-1">
  <%=  render "projectmembers/profile"  %>
</div>

