<div >
  <div class="list-inline" style="margin-top: 20px; text-align: center; background-color: #D7D7D7">
  <li><h3 style="color: #972F2A; font-size: 18px; font-weight: bold">Project "<%= @project.project_name%>"</h3></li>
  <li>
  <% if current_user.role == "Zaina" %>
     <a href="<%= projects_path %> " class="btn btn-primary" style="color: white; font-size: 16px; background: none;
    border: none">Chose another project</a>
     <%end %>
  </li>
  </div>
</div>

<div class="show_header ">
  <div class="box_header col-md-6" style="text-align: center">
    <h2 >Overview</h2>
    <h1>Description:</h1>
    <h1><%= @project.description %></1>
    <h1>Advisor:</h1>
    <p>lqnflzednfl</p>
  </div>

  <div class="box_header col-md-6" style="text-align: center">
    <h2 >Updates</h2>

  </div>
</div>


<div class="tabs">
  <a class="tab active" href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">
    <h3>Message center</h3>
    <% if current_user.role == "Zaina"%>
      <p> Deal team </p>
    <% elsif %>
      <% current_user.role == "Advisor" %>
      <p> Deal team</p>
    <% elsif %>
      <% current_user.role == "Entrepreneur" %>
      <p> Deal team </p>
    <% end%>
  </a>

  <a class="tab" href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">
    <h3> Company </h3>
      <% if current_user.role == "Zaina"%>
        <p> Detailed profile </p>
      <% elsif %>
        <% current_user.role == "Advisor" %>
        <p>Detailed profile</p>
      <% else %>
        <% current_user.role == "Entrepreneur" %>
        <p>Detailed profile</p>
    <% end%>
  </a>

  <a class="tab" href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">
    <h3>Investors follow-up</h3>
      <% if current_user.role == "Zaina"%>
        <p> Live feed </p>
      <% elsif %>
        <% current_user.role == "Advisor" %>
        <p>Live feed</p>
      <% else %>
        <% current_user.role == "Entrepreneur" %>
        <p>Live feed</p>
    <% end%>
  </a>


  <a class="tab" href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">
    <h3>Database</h3>
      <% if current_user.role == "Zaina"%>
        <p> Investors universe </p>
      <% elsif %>
        <% current_user.role == "Advisor" %>
        <p> Investors universe </p>
      <% else %>
        <% current_user.role == "Entrepreneur" %>
        <p>Investors universe</p>
    <% end%>
  </a>


   <a class="tab" href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">
      <h3>Documents</h3>
    </a>


  <% if current_user.role == "Zaina"%>
    <a class="tab" href="#tab6" aria-controls="tab6" role="tab" data-toggle="tab">
      <h3>Internal message center</h3>
        <% if current_user.role == "Zaina"%>
          <p> with Advisor </p>
        <% else %>
          <% current_user.role == "Advisor" %>
          <p> with Zaina </p>
        <% end%>
    </a>
  <% end %>


</div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab1">
      <%= render 'projects/tabs/tab1' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab2">
      <%= render 'projects/tabs/tab2' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab3">
       <%= render 'projects/tabs/tab3' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab4">
      <%= render 'projects/tabs/tab4' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab5">
      <%= render 'projects/tabs/tab5' %>
    </div>
      <div role="tabpanel" class="tab-pane" id="tab6">
      <%= render 'projects/tabs/tab6' %>
    </div>
  </div>

