
<div >
  <div class="list-inline project_intro">
  <li><h3 >Project "<%= @project.project_name%>"</h3></li>
  <li>
  <% if current_user.is_admin? %>
     <a href="<%= projects_path %> " class="btn btn-primary back_button">Chose another project</a>
     <%end %>
  </li>
  </div>
</div>

<div class="show_header ">
  <div class="box_header col-md-6" >
    <h1 >Overview</h1>
    <h2>Description:</h2>
      <p> <%= @project.description %></p>
    <h2>Advisor:</h2>
      <p> <% if @project.has_projectmember? %>
              <% if current_user.is_admin? %>
              <%= link_to 'Choose advisor for this project', new_project_projectmember_path(@project), class: "btn btn-primary btn-lg", style:"font-size: 25px"%>
              <% elsif current_user.is_entrepreneur? %>
              <%= "The most relevant advisor for your project will be suggested soon by Zaina team" %>
              <%end  %>
             <%else%>
            <%= User.find((Projectmember.find_by(project_id: @project.id)).user_id).email %>
          <%end%> </p>
  </div>

  <div class="box_header col-md-6">
    <h1 >Updates</h1>
  </div>

</div>


<div class="tabs">
  <a class="tab active" href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">
    <h3>Message center</h3>
    <% if current_user.is_admin?%>
      <p> Deal team </p>
    <% elsif %>
      <% current_user.role == "Advisor" %>
      <p> Deal team</p>
    <% elsif %>
      <% current_user.is_entrepreneur? %>
      <p> Deal team </p>
    <% end%>
  </a>

  <a class="tab" href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">
    <h3> Company </h3>
      <% if current_user.is_admin?%>
        <p> Detailed profile </p>
      <% elsif %>
        <% current_user.role == "Advisor" %>
        <p>Detailed profile</p>
      <% else %>
        <% current_user.is_entrepreneur? %>
        <p>Detailed profile</p>
    <% end%>
  </a>

  <a class="tab" href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">
    <h3>Investors follow-up</h3>
      <% if current_user.is_admin?%>
        <p> Live feed </p>
      <% elsif %>
        <% current_user.role == "Advisor" %>
        <p>Live feed</p>
      <% else %>
        <% current_user.is_entrepreneur? %>
        <p>Live feed</p>
    <% end%>
  </a>


  <a class="tab" href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">
    <h3>Database</h3>
      <% if current_user.is_admin?%>
        <p> Investors universe </p>
      <% elsif %>
        <% current_user.role == "Advisor" %>
        <p> Investors universe </p>
      <% else %>
        <% current_user.is_entrepreneur? %>
        <p>Investors universe</p>
    <% end%>
  </a>


   <a class="tab" href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">
      <h3>Documents</h3>
    </a>


  <% if current_user.role == "Zaina"%>
    <a class="tab" href="#tab6" aria-controls="tab6" role="tab" data-toggle="tab">
      <h3>Internal message center</h3>
        <% if current_user.is_admin?%>
          <p> with Advisor </p>
        <% else %>
          <% current_user.is_entrepreneur? %>
          <p> with Zaina </p>
        <% end%>
    </a>
  <% end %>


</div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab1">
      <%= render 'projects/tabs/tab1' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab2">
      <%= render 'projects/tabs/tab2' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab3">
       <%= render 'projects/tabs/tab3' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab4">
      <%= render 'projects/tabs/tab4' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab5">
      <%= render 'projects/tabs/tab5' %>
    </div>
      <div role="tabpanel" class="tab-pane" id="tab6">
      <%= render 'projects/tabs/tab6' %>
    </div>
  </div>

