  <div class="project_intro">
  <h3 style="padding-top: 25px; font-size: 25px">Project "<%= @project.project_name%>"</h3>
  <% if current_user.is_admin? %>
     <a href="<%= projects_path %> " class="btn btn-primary back_button" style="padding: 0px">Chose  another project</a>
     <%end %>
  </div>


<div class="show_header ">

  <div class="box_header col-md-6">
    <%= render 'next_step_project'%>
  </div>

  <div class="box_header col-md-6" >
    <%= render 'overview_project'%>
  </div>


</div>


<div class="tabs">

  <a class="tab <%= "active" if @tab == "tab1" %>" href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">
    <h3>Message center</h3>
    <% if current_user.is_admin?%>
      <p> Deal team </p>
    <% elsif %>
      <% current_user.role == "Advisor" %>
      <p> Deal team</p>
    <% elsif %>
      <% current_user.is_entrepreneur? %>
      <p> Deal team </p>
    <% end%>
  </a>

  <a class="tab <%= "active" if @tab == "tab2" %>" href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">
    <h3> Company </h3>
      <% if current_user.is_admin?%>
        <p> Detailed profile </p>
      <% elsif %>
        <% current_user.role == "Advisor" %>
        <p>Detailed profile</p>
      <% else %>
        <% current_user.is_entrepreneur? %>
        <p>Detailed profile</p>
    <% end%>
  </a>

  <a class="tab <%= "active" if @tab == "tab3" %>" href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">
    <h3>Investors follow-up</h3>
      <% if current_user.is_admin?%>
        <p> Live feed </p>
      <% elsif %>
        <% current_user.is_advisor? %>
        <p>Live feed</p>
      <% else %>
        <p>Live feed</p>
    <% end%>
  </a>


  <a class="tab <%= "active" if @tab == "tab4" %>" href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">
    <h3>Database</h3>
      <% if current_user.is_admin?%>
        <p> Investors universe </p>
      <% elsif %>
        <% current_user.role == "Advisor" %>
        <p> Investors universe </p>
      <% else %>
        <% current_user.is_entrepreneur? %>
        <p>Investors universe</p>
    <% end%>
  </a>


  <a class="tab <%= "active" if @tab == "tab5" %>" href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">
    <h3>Documents</h3>
  </a>

  <a class="tab <%= "active" if @tab == "tab6" %>" href="#tab6" aria-controls="tab6" role="tab" data-toggle="tab">
    <h3>Internal message center</h3>
      <% if current_user.is_admin?%>
        <p> with Advisor </p>
      <% else%>
        <p> with Zaina </p>
      <% end%>
  </a>


</div>


  <div class="tab-content">

    <div role="tabpanel" class="tab-pane  <%= "active" if @tab == "tab1" %>" id="tab1">
      <%= render 'projects/tabs/tab1', messages: @project.projectmessages %>
    </div>

    <div role="tabpanel" class="tab-pane <%= "active" if @tab == "tab2" %>" id="tab2">
      <%= render 'projects/tabs/tab2' %>
    </div>

    <div role="tabpanel" class="tab-pane <%= "active" if @tab == "tab3" %>" id="tab3">
       <%= render 'projects/tabs/tab3' %>
    </div>

    <div role="tabpanel" class="tab-pane <%= "active" if @tab == "tab4" %>" id="tab4">
      <%= render 'projects/tabs/tab4' %>
    </div>

    <div role="tabpanel" class="tab-pane <%= "active" if @tab == "tab5" %>" id="tab5">
      <%= render 'projects/tabs/tab5' %>
    </div>

      <div role="tabpanel" class="tab-pane <%= "active" if @tab == "tab6" %>" id="tab6">
      <%= render 'projects/tabs/tab6' %>
    </div>

  </div>



