<%@company = @project.company  %>
<h2> Please complete your company profile </h2>
<p> If you want, we can sign NDA before you share these information with us. Please go to documents to find the NDA.</p>

<%= simple_form_for(@company) do |f| %>
<%= f.error_notification %>

  <%= f.input :sector%>
  <%= f.input :creation_year%>
  <%= f.input :activity%>
  <%= f.input :business_model %>
  <%= f.input :presentation_file%>
  <%= f.input :presentation_file_cache, as: :hidden %>
  <%= f.input :client_nature %>
  <%= f.input :top_clients_weight %>
  <%= f.input :number_employee %>
  <%= f.input :top_team %>
  <%= f.input :revenues_nature %>
  <%= f.input :gross_margin %>
  <%= f.input :ebitda %>
  <%= f.input :competitive_advantage %>
  <%= f.input :risk %>
  <%= f.input :development_plan %>
  <%= f.input :document %>
  <%= f.input :document_cache, as: :hidden %>

  <div class="actions">
  <%= f.submit "Submit" %>
</div>
<% end %>


