<div class="container text-center sign_up_box" style="width: 600; margin-top: 50px, border-width: 3px">

  <h2 class="sign_up"><%=@investor.name  %></h2>
  <%= simple_form_for [@project, @investor] do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs sign_up_form">
      <%= f.input :name, required: true,label: "Investor name"  %>
      <%= f.input :geography, label: "Investor location" %>
      <%= f.input :nature, label: "Investor nature (Fund, Strategic, etc.)" %>
      <%= f.input :contacts, label: "People contacted" %>
      <%= f.input :contacted, label: "Has been contacted?" %>
      <%= f.input :nextstep, label: "What is the next step?" %>
      <%= f.input :comment, label: "Additional comment?" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>
